<section class="home">
  <header class="home__header">
    <h2 class="home__title">Formularios disponibles</h2>
  </header>

  <div class="home__card">
  <!-- 200 Parametrizador Todo Riesgo Incendio -->
    <a class="btn btn--primary" routerLink="/pol_incendio_lineas_aliadas">
      Póliza de Incendio y Líneas Aliadas
    </a>
  <!-- 201 Parametrizador Interrupcion Americano -->
    <a class="btn btn--primary" routerLink="/pol_interrupcion_americano">
      Póliza de Interrupción de Negocios Formato Americano
    </a>
  <!-- 201-A Parametrizador Interrupcion Inglés -->
    <a class="btn btn--primary" routerLink="/pol_interrupcion_ingles">
      Póliza de Interrupción de Negocios Formato Inglés
    </a>
  <!-- 205 Parametrizador Todo Riesgo Incendio -->
    <a class="btn btn--primary" routerLink="/pol_todo_riesgo_incendio">
      Póliza de Todo Riesgo de Incendio
    </a>
  <!-- 301 Parametrizador Naves Maritimas -->
    <a class="btn btn--primary" routerLink="/pol_naves_maritimas">
      Póliza de Naves Marítimas
    </a>
  <!-- 732 Parametrizador Fidelidad Americano -->
    <a class="btn btn--primary" routerLink="/pol_fidelidad_americano">
      Póliza Comprensiva Fidelidad 3D (formato americano)
    </a>
  <!-- 732-A Parametrizador Fidelidad Inglés -->
    <a class="btn btn--primary" routerLink="/pol_fidelidad_ingles">
      Póliza Comprensiva Fidelidad 3D (formato Inglés)
    </a>
  <!-- 812 Parametrizador Todo Riesgo Equipo Contratista -->
    <a class="btn btn--primary" routerLink="/pol_todo_riesgo_equipo_contratista">
      Póliza de Todo Riesgo de Equipo Contratista
    </a>
  <!-- 815 Parametrizador Equipo Electronico -->
    <a class="btn btn--primary" routerLink="/pol_todo_riesgo_equipo_electronico">
      Póliza Todo Riesgo Equipo Electrónico
    </a>
  </div>
</section>
